body {
  margin: 2rem;
  background-color: lightgreen;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.separator {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

input {
  width: 450px;
}

button {
  margin-top: 1rem;
}
