body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
}

.container {
  width: max(600px, 50%);
  border: 1px solid black;
  text-align: justify;
  padding: 0.8rem;
  margin: auto;
}

p {
  text-indent: 1rem;
}

span {
  font-weight: bold;
  color: rgb(255, 94, 0);
}
