body {
  margin: 0;
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
}

section {
  margin: 0 2rem;
}

#f-content {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.f-adress {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  width: 500px;
}

label {
  margin: 0.25rem 0;
}

#f-submit {
  text-align: center;
  margin: 2rem 0;
}

#f-submit input {
  padding: 0 1rem;
  color: white;
  background-color: blue;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
}

#f-submit input:disabled {
  color: lightgray;
  background-color: gray;
  cursor: default;
}

#myTable {
  text-align: center;
}

#container {
  margin: 2rem;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
