.square {
  height: 50px;
  width: 50px;
  background-color: tomato;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
}

.rectangle {
  width: 100px;
  height: 50px;
  background-color: #ccc;
}

.triangle {
  width: 0;
  height: 0;
  background-color: transparent;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #ccc;
}
